<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Taylor Masterson</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>

<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav"id="blog-navbar">
        <li><a href="#sec1">Projects</a></li>
        <li><a href="https://resume.creddle.io/resume/a73nimmpicu">Resume</a></li>
        <li><a href="#sec3">Contact</a></li>
      </ul>
    </div>
   </div>
</div>
<br>
<div class="header alt vert">
  <div class="container">
    <h1>Taylor Masterson</h1></br></br>
      <div class="lead">
        Currently building BuzzFree...
      </div>
      <div>
        <%= image_tag "me.jpg", id: "me-pic", size: "300x382" %>
      </div>
  </div>
</div></br></br>
<hr>

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>BuzzFree</h1>
        <p class="lead">Create and find sober social events today.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "bfree.png", class: "pull-right" %>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Projects</h1>
      </div>
    </div></br>
    <div class="row">
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-github icon-2x"></i>
          <h4><a href="https://github.com/tjmasterson">GitHub</a></h4>
          <p>View all of my work</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item hidden">
          <i class="icon-laptop icon-3x"></i>
          <h4>Blah</h4>
          <p>blah</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-laptop icon-3x"></i>
          <h4><a href="https://github.com/tjmasterson/SoberSocial">BuzzFree</a></h4>
          <p>Create and find sober social events today.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-laptop icon-3x"></i>
          <h4><a href="https://github.com/tjmasterson/Kindr_Project">Kindr Project</a></h4>
          <p>Crowdsourcing quality control to establish a strain standardization in the cannabis industry</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-laptop icon-3x"></i>
          <h4><a href="https://github.com/tjmasterson/humblehearts">Humble Hearts Foundation</a></h4>
          <p>A custom content managment system for dynamic editing.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-mobile-phone icon-3x"></i>
          <h4><a href="https://github.com/tjmasterson/Reverse-Polish-Notation-Calculator">Reverse Polish Notation Calculator</a></h4>
          <p>Simple calculator to get familiar with Swift and iOS</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="sec3">
  <div class="vert">
    <a href="mailto:taylor.j.masterson@gmail.com" class="btn btn-default btn-lg">Email Me</a></br></br>
    <div class="col-md-12 text-center"><a class="twitter-timeline" href="https://twitter.com/tjmasterson" data-widget-id="605929926911356928">Tweets by @tjmasterson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><a href="http://www.facebook.com/taylorjmasterson"><i class="icon-facebook icon-2x"></i></a></li>
          <li><a href="http://www.twitter.com/tjmasterson"<i class="icon-twitter icon-2x"></i></a></li>
          <li><a href="https://github.com/tjmasterson"><i class="icon-github icon-2x"></i></a></li>
        </ul>
        <hr>
        <p>Built with <i class="icon-heart-empty"></i> in Chicago.</p>
      </div>
    </div>
  </div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>

  </body>
</html>
